@using layihe.Dtos.TicketDtos
@model TicketToListDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .flightIndex {
        margin-left: 30px !important;
        margin-top:50px;
    }

        .flightIndex .table {
            background-color: whitesmoke;
            color: dodgerblue;
            text-align: center;
        }

        .flightIndex .btn-primary {
            float: right !important;
            margin: 15px 0 15px 15px;
        }

    .table {
        --bs-table-striped-bg: lavender;
        --bs-table-striped-color: dodgerblue;
    }
</style>
<div class="city">


    <div style="position:absolute" class="flightIndex">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Departure Time</th>
                    <th>Arrivial Time</th>
                    <th>Passenger Name</th>
                    <th>Passenger Surname</th>
                    <th>Ticket Number</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>@Model.NewFlight.DepartureCity.DepName</td>
                        <td>@Model.NewFlight.ArrivialCity.Name</td>
                        <td>@Model.NewFlight.DepartureTime.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@Model.NewFlight.ArrivialTime.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@Model.Passenger.PassengerName</td>
                        <td>@Model.Passenger.PassengerSurname</td>
                        <td>@Model.TicketNumber</td>
                        <td>@Model.NewFlight.Price</td>
                        @if (Model.NewFlight.DepartureTime > DateTime.Now)
                        {
                            <td>@Html.ActionLink("Cancel Ticket", "TicketCancel", "Ticket", new { id = Model.TicketId }, new { @class = "btn btn-danger" })</td>
                        }
                        else
                        {
                            <td><button class="disabled">Cancel Ticket</button></td>
                        }
                    </tr>

                
            </tbody>
        </table>
    </div>

</div>


