
@using layihe.Dtos.FlightDtos
@model List<FlightToListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .flightIndex {
        margin-left: 120px !important;
    }

        .flightIndex .table {
            background-color: whitesmoke;
            color: dodgerblue;
            text-align: center;
        }

        .flightIndex .btn {
            float: right !important;
            margin: 15px 0 15px 15px;
        }

    .table {
        --bs-table-striped-bg: lavender;
        --bs-table-striped-color: dodgerblue;
    }
    #dontflighth1{
        text-align:center;
        padding-top:40px;
        color:floralwhite;
        
    }
</style>
<div class="city">

    <h1 id="dontflighth1" >Don't Find Flight</h1>

    <div style="position:absolute" class="flightIndex">
        <a href="/Flight/Search" class="btn btn-primary">Search</a>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Departure Time</th>
                    <th>Arrivial Time</th>
                    <th>Capacity</th>
                    <th>Seating Capacity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model)
                {


                    @if (f.DepartureTime >= DateTime.Now)
                    {
                        <tr>
                            <td>@f.DepartureCity.DepName</td>
                            <td>@f.ArrivialCity.Name</td>
                            <td>@f.DepartureTime</td>
                            <td>@f.ArrivialTime</td>
                            <td>@f.Capacity</td>
                            <td>@f.SeatingCapacity</td>
                            <td>@f.Price</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>

