
@using layihe.Dtos.FlightDtos
@model List<FlightToListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .flightfind {
        position: relative !important;
        background-image: url("../flihgtsearchbackground.jpg");
        width: 100% !important;
        height: 100% !important;
        position: relative;
        background-size: cover;
        background-position: center;
    }
    .flightIndex {
        margin:45px 10px 0 100px!important
    }

        .flightIndex .table {
            background-color: whitesmoke;
            color: dodgerblue;
            text-align: center;
        }
    .table {
        --bs-table-striped-bg: lavender;
        --bs-table-striped-color: dodgerblue;
    }
    .flightIndex .changesearchbtn {
        float:right;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
        background-color: whitesmoke;
        border-color: dodgerblue;
        color: dodgerblue;
    }
    
</style>
<div class="flightfind">


    <div style="position:absolute" class="flightIndex">
   <a class="btn changesearchbtn" asp-controller="Flight" asp-action="Search">Change Search</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Departure Time</th>
                    <th>Arrivial Time</th>
                    <th>Capacity</th>
                    <th>Seating Capacity</th>
                    <th>Price</th>
                    <th>Sell Ticket</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model)
                {


                    @if (f.DepartureTime >= DateTime.Now)
                    {
                        <tr>
                            <td>@f.DepartureCity.DepName</td>
                            <td>@f.ArrivialCity.Name</td>
                            <td>@f.DepartureTime.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@f.ArrivialTime.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@f.Capacity</td>
                            <td>@f.SeatingCapacity</td>
                            <td>@f.Price</td>
                            @if (f.SeatingCapacity != 0)
                            {
                            <td>@Html.ActionLink("Sell", "RegisterPassenger", "Flight", new { id = f.NewFlightId }, new { @class = "btn btn-primary" })</td>
                            }
                            else
                            {
                              <button class="disabled btn-primary">Sell</button>
                            }

                            <td>@Html.ActionLink("Detail", "Info", "Flight", new { id = f.NewFlightId }, new { @class = "btn btn-success" })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>
