@using layihe.Dtos.FlightDtos
@model List<FlightToListDto> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .flightIndex {
        margin-left: 60px !important;
        margin-right:10px;
    }

        .flightIndex .table {
            background-color: whitesmoke;
            color: dodgerblue;
            text-align: center;
        }

        .flightIndex .btn-primary {
            float: right !important;
            margin: 15px 0 15px 15px;
        }

    .table {
        --bs-table-striped-bg: lavender;
        --bs-table-striped-color: dodgerblue;
    }
</style>
<div class="city">
    

    <div style="position:absolute" class="flightIndex">
        <a href="/Flight/Registration" class="btn btn-primary">Add</a>
        <a href="/Flight/Search" class="btn btn-primary">Search</a>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Departure Time</th>
                    <th>Arrivial Time</th>
                    <th>Capacity</th>
                    <th>Seating Capacity</th>
                    <th>Price</th>
                    <th></th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var f in Model)
                {


                    @if (f.DepartureTime >= DateTime.Now)
                    {
                <tr>
                    <td>@f.DepartureCity.DepName</td>
                    <td>@f.ArrivialCity.Name</td>
                    <td>@f.DepartureTime.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@f.ArrivialTime.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@f.Capacity</td>
                    <td>@f.SeatingCapacity</td>
                    <td>@f.Price</td>
                    @if ((f.Capacity - f.SeatingCapacity) < f.SeatingCapacity)
                    {
                        <td>@Html.ActionLink("Cancel Flight", "FlightCancel", "Flight", new { id = f.NewFlightId }, new { @class = "btn btn-danger" })</td>
                    }
                    else
                    {
                        <td><button class="disabled">Cancel Flight</button></td>
                    }
                    <td>@Html.ActionLink("Detail", "Info", "Flight", new { id = f.NewFlightId }, new { @class = "btn btn-success" })</td>

                </tr>
                    }

            }
                </tbody>
            </table>
    </div>

</div>
